root=true

[*.cs]
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE1006.severity = none

[*.{cs,cpp,c,h,cpp}]
dotnet_naming_rule.camel_case.symbols = public|internal|protected|private|protected_internal|private_protected
dotnet_naming_rule.camel_case.style = camel_case
dotnet_naming_rule.camel_case.severity = none
